<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
    <strong class='text-light'>© 2022 Test Blog</strong> | Just another rails blog.
  </div>
</footer>